.site-header {
    background-image: url(../img/header-bgi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.site-header__content {
    padding-top: 110px;
    padding-bottom: 157px;
    text-align: center;

}
.site-header__heading {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: 'Lora';
    font-weight: 400;
    font-size: 50px;
    line-height: 51px;
    letter-spacing: 2px;
}
.site-header__desc {
    margin-top: 0;
    margin-bottom: 31px;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
}
.site-header__link {
    display: inline-block;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #fff;
    text-decoration: none;
    padding: 12px 31px;
    background-color: #DD783F;
}
@media only screen and (max-width:550px) {
    .site-header__heading {
        font-size: 40px;
    }

}